* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(19, 42, 59);
}

.learn {
  padding: 4rem;
}

h1 {
  font-size: 3.375rem;
  line-height: 1.33;
  letter-spacing: -2px;
  margin: 0.5rem 0 3rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(19, 42, 59, 0.8);
  margin-bottom: 3rem;
}

p.accent {
  color: #00c689;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  padding: 0;
}

a {
  color: rgb(19, 42, 59);
  text-decoration: none;
  font-weight: 500;
}

.btn {
  display: inline-block;
  color: white;
  background-color: #2c86d9;
  border-radius: 100px;
  padding: 1rem 2rem;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.btn.outline {
  background-color: transparent;
  border: 2px solid #2c86d9;
  color: #2c86d9;
}

header {
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 8rem;
}

.hero img {
  max-width: 100%;
}

.btn-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  nav ul,
  .outline {
    display: none;
  }

  .btn-mobile {
    display: inline-block;
  }

  .hero {
    grid-template-columns: 100%;
  }

  #hero-illustration {
    order: -1;
  }
}
